<!DOCTYPE html>
<html lang="en" ng-app="english">
<script src="../JavaScript/angular.min.js"></script>
<script src="../JavaScript/English.js"></script>
<link rel="stylesheet" href="../CSS/application.css" />
<script src="../JavaScript/jquery.js"></script>
<script src="../JavaScript/javascript.js"></script>
<script src="/JavaScript/nodejs.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand"></div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="About.html">About</a></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Subjects <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="Math.html">Math</a></li>
                            <li><a href="Science.html">Science</a></li>
                            <li><a href="English.html">English</a></li>
                            <li><a href="Engineering.html">Engineering</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search resources">
                    </div>
                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link 3</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown 2<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<div>
    <h1>Notes - English</h1>
    <div ng-controller="WebController as wc">
        <blockquote ng-repeat="note in wc.notes">
            <div class="col-xs-12 col-sm-12 col-md-12"><strong>{{note.name}}</strong></div>
            <div class="col-xs-12 col-sm-12 col-md-12">{{note.body}}</div>
            <div class="col-xs-12 col-sm-12 col-md-12">by: {{note.author}}</div>
        </blockquote>
        <div ng-controller="NoteController as nc">
            <blockquote ng-repeat="note in nc.notes">
                <div class="col-xs-12 col-sm-12 col-md-12"><strong>{{note.name}}</strong></div>
                <div class="col-xs-12 col-sm-12 col-md-12">{{note.body}}</div>
                <div class="col-xs-12 col-sm-12 col-md-12">by: {{note.author}}</div>
            </blockquote>
            <form name="notesForm" ng-submit="notesForm.$valid && nc.addNotes(wc.notes)" novalidate>
                <blockquote>
                    <div class="col-xs-12 col-sm-12 col-md-12"><strong>{{nc.note.name}}</strong></div>
                    <div class="col-xs-12 col-sm-12 col-md-12">{{nc.note.body}}</div>
                    <div class="col-xs-12 col-sm-12 col-md-12">{{nc.note.author}}</div>
                </blockquote>
                <input ng-model="nc.note.name" type="text" class="form-control col-xs-12 col-sm-6 col-md-3" placeholder="Name of Notes" required>
                <textarea ng-model="nc.note.body" id="1" class="form-control" rows="10" placeholder="Enter Notes" required></textarea>
                <form ng-model="nc.note.author" id="2" class="form-inline" role="form">
                    <input ng-model="nc.note.author" id="3" type="email" class="form-control" placeholder="Email" required>
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                </form>
            </form>
        </div>
    </div>
</div>
</body>
<script src="../JavaScript/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>